# Create .gitignore for docker recipes repository

bgtools/bgtools_devcache.sif
scratch*
omega/omega*
oncodrive3d/oncodrive3d*
*/test/*
hdp_stefano/HDP_sigExtraction
hdp_wrapper/test/
hdp2/HDP_sigExtraction
.vscode
